version: '3.8'


# This is an example docker-compose file to quickly test an IPFS Cluster
# with multiple peers on a contained environment.

# It runs 3 cluster peers (cluster0, cluster1...) attached to go-ipfs daemons
# (ipfs0, ipfs1...) using the CRDT consensus component. Cluster peers
# autodiscover themselves using mDNS on the docker internal network.
#
# To interact with the cluster use "ipfs-cluster-ctl" (the cluster0 API port is
# exposed to the locahost. You can also "docker exec -ti cluster0 sh" and run
# it from the container. "ipfs-cluster-ctl peers ls" should show all 3 peers a few
# seconds after start.
#
# For persistence, a "compose" folder is created and used to store configurations
# and states. This can be used to edit configurations in subsequent runs. It looks
# as follows:
#
# compose/
# |-- cluster0
# |-- cluster1
# |-- ...
# |-- ipfs0
# |-- ipfs1
# |-- ...
#
# During the first start, default configurations are created for all peers.

services:
##################################################################################
## Discovery Service #############################################################
##################################################################################

  discovery:
    container_name: discovery
    image: ahmadelrouby/ipfs-discovery:latest
    environment:
      PORT: 3000 # refers to the port the discovery service will listen on
      HEALH_INTERVAL: 1000 # refers to how often the discovery service will check the health of the peers
      MAX_TRIES: 3 # refers to how many times the discovery service will try to connect to a peer before removing it from the list
      DEPTH: {{DEPTH}} # refers to the depth of the lattice repair
      REPLICATION_FACTOR: {{REPLICATION_FACTOR}} # refers to the replication factor of the EMT intermediate nodes
      TOTAL_PEERS: {{N}} # refers to the total number of peers
      FAILED_PEERS: {{FAILED_PEERS}} # refers to the number of failed peers
      REPAIR_PEERS: {{REPAIR_PEERS}} # refers to the number of peers used for repairs
    ports:
      - "3000:3000"
    volumes:
      - ./metrics:/data

{% for i in range(N) %}
##################################################################################
## Cluster PEER {{i}} ################################################################
##################################################################################


  ipfs{{i}}:
    container_name: ipfs{{i}}
    image: ipfs/go-ipfs:latest
    depends_on:
      - discovery
    ports:
      - "{{4001 + i}}:4001"
      - "127.0.0.1:{{5001 + i}}:5001"
      - "127.0.0.1:{{8080 + i}}:8080"


  cluster{{i}}:
    container_name: cluster{{i}}
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs{{i}}
    environment:
      CLUSTER_PEERNAME: cluster{{i}}
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs{{i}}/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_RESTAPI_HTTPLISTENMULTIADDRESS: /ip4/0.0.0.0/tcp/9094 # Expose API
      CLUSTER_MONITORPINGINTERVAL: 2s
    ports:
      - "127.0.0.1:{{ 9094 + i }}:9094"

  community{{i}}:
    container_name: community{{i}}
    image: ahmadelrouby/ipfs-community:latest
    depends_on:
      - cluster{{i}}
      - discovery
    environment:
      PORT: 7070
      COMMUNITY_IP: community{{i}}
      CLUSTER_IP: cluster{{i}}
      CLUSTER_PORT: 9094
      IPFS_IP: ipfs{{i}}
      IPFS_PORT: 5001
      DISCOVERY_ADDRESS: discovery:3000
    ports:
      - "{{7070 + i}}:7070"
    
{% endfor %}
